*{
  font-size: 30px;
}

body {
  background: black;
  color: white;
  margin: auto;

}



.above {
   width: 100%;
   text-align: center;
   height: 90vh;
   flex-direction: column;
   display: flex;
   box-sizing: border-box;
   background-image: url(img/imagefornow/child.jpg);
   background-attachment: fixed;
   background-size: cover;
   background-position: center;

}

.header-text {
   text-align: center;
   height: 90vh;
   box-sizing: border-box;
   align-items: center;
   display: flex;
   padding-top: 9%;
   color: black;
   margin-bottom: 0%;
   width: 100%;
   flex-direction: column;

 }

 .header-text p {
   font-size: 25px;
   font-style:inherit;
 }



 .header-text h1 span{
   color: #ff004f;
   font-style: oblique;
   font-size: 90px;
}
